* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation */
.btn-primary {
    background: #FD6E0A;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700px;
    padding: 16px 36px;
    height: 50px;
    border-radius: 5px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800px;
    font-size: 45px;
}

.primary-color {
    color: #FD6E0A;
}

nav li {
    list-style: none;
    margin-left: 50px;

}

.banner {
    display: flex;
    align-items: center;
    margin: 0px 50px 0px 180px;


}

.banner-subtitle {
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 10px;
}

.banner-title {
    font-size: 50px;
    padding-bottom: 20px;

}

.banner-description {
    color: #757575;
    font-size: 15px;
    padding-bottom: 30px;

}
 .mary img{
}

.btn-contact {
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    font-weight: 700px;
    padding: 16px 36px;
    height: 50px;
    border-radius: 5px;
    margin-left: 20px;
}
/*  header end */

.info-description{
    margin: 0px 200px ;
    text-align: center;
}
.about{
    padding-top: 230px ;
    text-align: center;
}
.about-title{
    padding:30px 0px;
    color: #757575;
}
.info-details{
    display: flex;
    gap: 50px;
    padding-left: 10px;
}
.info p{
    color: #757575;
    padding-bottom: 5px;
    font-size: 20px;
}
.info h3{
    font-size: 25px;
}
/* the end  */
.experience{
    margin: 0 180px;
    padding-top: 130px;
}
.experience h2{
    text-align: center;
    padding-bottom: 30px;
    
}
.experience p{
    color: #757575;
    padding-bottom: 50px;
}
/* end */
.skill{
    display: flex;
    margin: 40px  130px 0px 130px;
    gap: 24px;
}
.skill-info h3{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 30px;
}
.skill-info p{
    color: #757575;
    font-size: 15px;
}